body {
  background: black;
  display: flex;
  height: 100vh;
}

header {
  position: fixed;
  background: black;
  height: 800px;
}

.logo {
  margin-top: 300px;
}

.container {
  display: flex;
}

figure {
 border: solid white 10px;
 display: flex;
 max-width: 1000px;
 background: url("../css/ellipsis.gif") no-repeat center center;
}

a {
  cursor: pointer;
}

.b-lazy {
  width: 800px;
 transition: 3s;
 opacity: 0;
 left: 40%;
}

.b-loaded {
 opacity: 1;
 left: 0;
}

@media screen and (max-width: 800px){
  header{
    width: 500px;
    height: 100px;
    display: flex;
  }

  .logo {
    position: absolute;
    top: -300px;
  }

  .container {
    margin-top: 160px;
  }


}
